@import '../../styles/mixins';

.wrapper {
  width: 80%;
  min-height: 100vh;
  @include flex($align: flex-start);
  gap: 30px;
  margin: auto;
  padding-top: 20px;
}

.header {
  width: 100%;
  height: 40px;
  background-color: $color-white
}