@import './mixins';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: $color-grey-bg;
}

h3 {
  font-size: 1.6rem;
  font-weight: 400;
}