@import '../../styles/mixins';

.searchBar {
  @include flex($just: space-between);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 10px;
}

.rightBtns {
  @include flex($just: space-between);
  gap: 10px;
}