@import '../../styles/mixins';

.searchBar {
  @include flex($just: space-between);
  box-shadow: $base-shadow;
  padding: 10px;
  border-radius: 10px;
}

.rightBtns {
  @include flex($just: space-between);
  gap: 10px;
}