@import '../../styles/mixins';

.list {
  @include flex($dir: column);
  gap: 10px;
  list-style: none;

  & li {
    width: 100%;
  }
}

.manageWrapper {
  @include flex($just: space-between);
  width: 100%;
  padding: 15px 10px;

  & button {
    border: none;
    color: $color-grey-dark;
    background-color: transparent;
    transition: all 0.5s;

    &:hover {
      cursor: pointer;
      color: $color-text-base
    }
  }
}

.contactsCount {
  padding: 5px;
  color: $color-white;
  background-color: $color-grey-dark;
  border-radius: 10px;
}

.inputWrapper {
  @include flex;
  gap: 5px;
  font-size: 1.2rem;
  
  & label {
    @include flex;
    gap: 5px;
    color: $color-grey-dark;
    font-size: 1.4rem;
  }

  & input {
    width: 18px;
    height: 18px;
    border: 1px solid $color-grey-light;
  }
}

.countChecked {
  padding: 2px 10px;
  color: $color-white;
  background-color: $color-blue;
  border-radius: 10px;
}

.manageBtns {
  display: flex;
  gap: 10px;
}